@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
  /* background-size: cover; */
    
}

.left-col{
    padding: 3rem 3rem 3rem 3rem ;
    width: 30rem;
    height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(37, 7, 66);
    /* margin: auto 3rem auto 3rem ; */
    color: white;

}

span{
    color: blueviolet;
}
.header{
    padding-bottom: 2rem;
    flex: 1;
}

.header h2{
  font-size: 2rem;
  margin-bottom: 3rem;

}

p{
    padding-top: 10px;
}

.sub-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right-col{

  position: relative;
  display: flex;
}

.right-col::after {
  content: "";
  position: absolute;
  background-color: blueviolet;
  inset: 0;
  opacity: 0.55;
}
  


/* Media queyries starts here */
/* 
  ##Device= Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px */


@media (min-width: 320px) and (max-width: 480px) {
  .container{
    flex-direction: column;
  }

  .header h2{
    font-size: 1rem;
  }

  .header p{
    font-size: 0.9rem;
  }
 
  
}